<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MEDICION DE DATOS AMBIENTALES</title>
    </head>
    <body bgcolor="#E1FFC8">
        <h1>Grafico Material particulado </h1>
        <div style="width: 1000px; height: 1000px;" >
            <canvas id="graph_mp" ></canvas>
            <button id="exportChart">Export Chart</button>
            <h1>Grafico Temperatura</h1>
            <canvas id="graph_temp"></canvas>
            <button id="exportChart2">Export Chart</button>
            <div style="width: 200px; height: 50px;">
                <footer>
                    Created by Josué Rivas
                </footer>
            </div>
        </div>
        <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
        <script type="text/javascript" src="../static/main.js"></script>
        <script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
    </body>

</html>