<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chart</title>
    
</head>

<body>
    <div id="G1" style="width: 800px; height: 300px"></div>
    <button id="exportChart">Export Chart</button>
    <div id="G2" style="width: 800px; height: 300px"></div>
    <button id="exportChart2">Export Chart</button>

    <footer>
        <p>Created by Josué Rivas</p>
    </footer>

</body>

<script type="text/javascript" src="../static/canvasjs.min.js"></script>
<script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../static/Telegram.js"></script>

</html>